/* подключение нестандартного шрифта */
p {
		font-family: 'Jost', sans-serif;
	}


/* ЗАДАНИЕ СТИЛЕЙ*/

/* задание стиля по идентификатору id */
#orangetext {
  color: #DAA520;
}

/* задание стиля по селектору, тег внутри тега */
nav a{
  display: inline-block;
  text-align: center;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  padding: 10px;
}


/* задание стиля по классу */
.greytext  {
  color: #808080;
}

.questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  text-decoration: none;
}



/* задание стиля по тегу */
h1{
  font-size: 350%;
  color: #808080;
}

/* задание стиля по тегу */
h4{
  font-size: 150%;
  color: #808080;
}


/* ПСЕВДОКЛАССЫ*/

/* псевдокласс, определяющий состояние элементов: окрашивание разделителей меню в оранжевый цвет при наведении курсора */
nav:hover{
  color: #DAA520;
}

/* псевдокласс, определяющий состояние элементов: окрашивание текста тега h4 в оранжевый цвет при наведении курсора */
h4:hover{
  color: #DAA520;
}

/* псевдокласс, определяющий состояние элементов: окрашивание текста в тегах а в зеленый цвет если ссылка была нажата */
a:visited{
  color: #b8d87f;
}

/* псевдокласс, определяющий состояние элементов: окрашивание текста в тегах а в оранжевый цвет если ссылка еще не посещалась */
a:link{
  color: #DAA520;
}
